In [1]:
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'https://www.scrapethissite.com/pages/forms/?page_num=1&per_page=25'

In [4]:
response = requests.get(url)

In [6]:
soup = BeautifulSoup(response.text, 'html.parser')

In [38]:
table = soup.find(class_ = 'table')

In [77]:
hockey_team_df  = {
    'Team Name' : [],
 'Year': [],
 'Wins': [],
 'Losses' : [],
 'OT Losses' : [],
 'Win %' : [],
 'Goals For (GF)': [],
 'Goals Against (GA)' : [],
 '+ / -': []
}


for i in range(1,26):
    url = f'https://www.scrapethissite.com/pages/forms/?page_num={i}&per_page=25'
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find(class_ = 'table')
    table_data = table.find_all('tr', class_ = 'team')




    for data in table_data:
            team_name = data.find('td',class_ = 'name').text.strip()
            year = data.find('td', class_ = 'year').text.strip()
            wins =  data.find('td', class_ = 'wins').text.strip()
            losses = data.find('td', class_ = 'losses').text.strip()
            ot_losses =  data.find('td', class_ = 'ot-losses').text.strip()
            win_percent = data.find('td', class_ = ['pct text-success', 'pct text-danger']).text.strip()
            goals_for = data.find('td', class_ = 'gf').text.strip()
            goals_against = data.find('td', class_ = 'ga').text.strip()
            plus_or_minus = data.find('td', class_ = "diff text-success")
            
            
            if plus_or_minus is not None:
                plus_or_minus = plus_or_minus.text.strip()
            else:
                plus_or_minus = "N/A"  
        
            hockey_team_df['Team Name'].append(team_name)
            hockey_team_df['Year'].append(year)
            hockey_team_df['Wins'].append(wins)
            hockey_team_df['Losses'].append(losses)
            hockey_team_df['OT Losses'].append(ot_losses)
            hockey_team_df['Win %'].append(win_percent)
            hockey_team_df['Goals For (GF)'].append(goals_for)
            hockey_team_df['Goals Against (GA)'].append(goals_against)
            hockey_team_df['+ / -'].append(plus_or_minus)

In [81]:
import pandas as pd

In [78]:
df = pd.DataFrame(hockey_team_df)

In [80]:
df

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,Calgary Flames,1990,46,26,,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,,0.425,273,298,N/A
...,...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8,0.463,235,281,N/A
578,Toronto Maple Leafs,2011,35,37,10,0.427,231,264,N/A
579,Vancouver Canucks,2011,51,22,9,0.622,249,198,51
580,Washington Capitals,2011,42,32,8,0.512,222,230,N/A
581,Winnipeg Jets,2011,37,35,10,0.451,225,246,N/A

In [84]:
df.to_csv(r"C:\Users\victo\OneDrive\Documents\Data Science Bootcamp\Python\Class\Web Scraping\HockeyTeams.csv", index = False)